@use "_variables" as *;
@use "_mixins" as m;


body{
	// Reset
	@include m.Preset();
	background-color: #000;

	.scene{
		@include m.Scene();
	}

	// ============= Scènes du présent, FLV ===========================
	.present{
		background: center / contain no-repeat url("../img/mur-present.webp");

		// Position du portrait de Morozov
		.tableau{
			position: absolute;
			top: 13%;
			left: 37%;
			aspect-ratio: 1019/1080;
			width: 24%;

			.hoverzone{
				top: 0;
				left: 0;
				width: 100%;
				z-index: 2;
			}

			.dropzone{
				height: 100%;
			}

			&.depart{
				top: unset;
				left: 5%;
				bottom: 3%;
			}
		}

		// Image mirroir pendant le drag and drop
		.draggable-mirror{
			aspect-ratio: 1018/1080;
			width: 24em;
			width: min(24vw, calc(24vh * 16 / 9));
		}

		// ============= Détails scènes =============
		// Plan large FLV 
		&#scene-dexpo-un{
			background: center / contain no-repeat url("../img/flv-large.webp");

			.hoverzone{
				width: 79.8%;
				top: 2.6%;
				left: 8.8%;
			}
		}

		// Plan rapproché FLV
		&#scene-dexpo-deux{
			background: center / contain no-repeat url("../img/flv-rapproche.webp");

			.hoverzone{
				width: 46%;
				top: 73.3%;
				left: 32%;
			}
		}

		// Saut temporel
		&#saut-passe{
			.tableau{
				background: center / contain no-repeat url("../img/portrait-juste-cadre.webp");

				.portrait{
					animation: fade-in 1.5s ease-out 700ms 1 reverse forwards;
				}
			}

			.pensee{
				text-transform: uppercase;
				font-size: 1.2em;
			}

			// Fondu au noir
			animation: fade-in 500ms ease-out 3.5s 1 reverse forwards;
		}
	}
	// Fin des scènes au présent


	// ============= Scènes du passé, en Russie ==================
	.russie{

		// Swiper exploration
		.swiper{
			margin: 0 auto;
			aspect-ratio: 16/9;
			height: 100%;

			.swiper-nav{
				background-color: $orange;
				box-shadow: $shadow;
				width: 5.5em;
				height: 5.5em;
				border-radius: 50%;
				color: transparent;
				transition: transform .2s ease-in-out;

				&:hover{
					transform: scale(1.15);
				}

				&.swiper-button-prev{
					background: $orange center / 80% no-repeat url("../img/doigt-sign-invert.webp");
					left: 4em;
				}

				&.swiper-button-next{
					background: $orange center / 80% no-repeat url("../img/doigt-sign.webp");
					right: 4em;
				}
			}
		}


		// Fondu au noir d'arrivée
		&.arrive{
			animation: fade-in 500ms ease-in 1 normal forwards;
		}


		// DECORS
		// Mur avec le portrait
		&.mur, .mur{
			background: center / contain no-repeat url("../img/mur-passe.webp");

			.hoverzone{
				aspect-ratio: 449/482;
				width: 23.4%;
				top: 12.95%;
				left: 37.2%;
			}
		}

		// Salon de Morozov
		&.salon, .salon{
			background: center / contain no-repeat url("../img/morozov-hotel.webp");

			.hoverzone{
				width: 11.5%;
				top: 41.3%;
				left: 38.7%;
			}
		}

		// Galerie avec tous les tableaux de Morozov
		&.galerie, .galerie{
			background: center / contain no-repeat url("../img/morozov-salon-vide.webp");

			// Position du tableau de Monet
			.tableau{
				position: absolute;
				top: 12.2%;
				left: 33.8%;
				aspect-ratio: 1102/720;
				width: 24.1%;

				.hoverzone{
					top: 0;
					left: 0;
					width: 100%;
					z-index: 2;
				}

				.dropzone{
					height: 100%;
				}

				&.depart{
					top: unset;
					left: 5%;
					bottom: 3%;
				}
			}

			// Image mirroir pendant le drag and drop
			.draggable-mirror{
				aspect-ratio: 1102/720;
				// entourloupette
				width: 24.1em;
				width: min(24.1vw, calc(24.1vh * 16 / 9));
			}	
		}
		
		// Galerie où on parle avec Morozov
		&.parler-morozov{
			background: center / contain no-repeat url("../img/morozov-salon.webp");
		}

		// Morozov avec le tableau de Monet derrière lui
		&.convaincu{
			background: center / contain no-repeat url("../img/morozov-salon-monet.webp");
		}
	}
	// Fin des scènes en Russie



	// ============= Journal à gratter ===========================
	#journal{
		background: $bleuciel;
		padding: 2% 0;
		box-sizing: border-box;

		#canvas{
			display: block;
			background: center / contain no-repeat url(../img/journal-francais.webp);
			margin: auto;
			box-shadow: $shadow;
		}

		.reussite{
			display: none;
		}

		@keyframes FromGiverny{
			from{
				bottom: 35%;
				left: 75%;
				opacity: 0;
			}

			to{
				bottom: 30%;
				left: 50%;
				opacity: 1;
			}
		}

		.button.reussite{
			animation: FromGiverny 860ms ease-in-out normal forwards;
		}
	}
	// Fin du journal


	// ============= Puzzle jusqu'à Giverny ======================
	#puzzle{
		background: center / contain no-repeat url("../img/puzzle-carte-europe.webp");
		position: relative;

		.tuyaux-grid{
			position: absolute;
			top: 6.4%;
			left: 11.9%;
			width: 73.7%;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: repeat(4, 1fr);

			.tuyau{
				transform-origin: center;
				transition: all 680ms ease-out;
				aspect-ratio: 1/1;
				width: 100%;
				height: 100%;

				&[data-rotationactuelle="90"]{
					transform: rotate(90deg);
				}

				&[data-rotationactuelle="180"]{
					transform: rotate(180deg);
				}

				&[data-rotationactuelle="270"]{
					transform: rotate(270deg);
				}
			}
		}

		.zeppelin{
			@keyframes pouloulou{
				0%{
					top: 24%;
					left: 81%;
				}

				30%{
					top: 70%;
					left: 65%;
				}

				70%{
					top: 14%;
					left: 33.5%;
				}

				100%{
					top: 72%;
					left: 17.5%;
				}
			}

			width: 17%;
			height: auto;
			position: absolute;
			top: 24%;
			left: 81%;
			translate: -50% -50%;

			animation: pouloulou 6.5s ease-in-out 740ms normal forwards;
			animation-play-state: paused;
		}

		.button{
			bottom: 25%;
		}
	}
	// Fin du puzzle


	// ============= Scènes à Giverny, dans le passé =============
	.giverny{
		background: center / contain no-repeat url("../img/giverny-atelier.webp");

		// ============= Détails scènes =============
		// Giverny extérieur
		&#giverny-exte{
			background: center / contain no-repeat url("../img/giverny-exte.webp");

			.hoverzone{
				width: 9.25%;
				top: 31.15%;
				left: 44.48%;
			}
		}

		// Giverny intérieur
		&#giverny-int{
			background: center / contain no-repeat url("../img/giverny-int.webp");

			.hoverzone{
				width: 11.85%;
				top: 16.3%;
				left: 72.4%;
			}
		}

		// Atelier de Monet
		&.atelier{
			.hoverzone{
				width: 34.75%;
				bottom: 0;
				left: 58.3%;
			}
		}
	}
	// Fin des scènes à Giverny


	// ============= Jeu des tableaux ============================
	#jeu-tableau{
		background: center / contain no-repeat url("../img/waterloo/fond-jeu.webp");

		.mur{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			padding: 3% 4%;
			box-sizing: border-box;
			gap: 5% 2%;

			.tableau{
				width: 100%;
				height: max-content;
				transition: all 500ms ease-in-out;

				&:hover{
					transform: scale(1.05);
					cursor: pointer;
				}

				&.cache{
					transform: perspective(600px) rotateY(180deg);
					user-select: none;
					cursor: default;
					background: center / 100% 100% no-repeat url("../img/waterloo/back-waterloo.webp");
				}
			}
		}
	}

	// ============= Voyage en dirigeable ========================
	#voyage{
		.ciel{
			@keyframes animciel{
				from{
					background-position: 0% 0%;
				}

				to{
					background-position: 100% 0%;
				}
			}

			position: relative;
			width: 100%;
			height: 100%;
			background-color: $peche;
			background: linear-gradient(50deg, $peche 34%, #e0a745 100%);
			background-size: 300%;
			animation: animciel 10s linear forwards;
		}

		@keyframes dirigeable{
			0%{
				left: 0%;
				top: 70%;
			}

			50%{
				left: 50%;
				top: 40%;
			}

			85%{
				opacity: 1;
			}

			100%{
				left: 100%;
				top: 70%;
				opacity: 0;
			}
		}

		.zeppelin{
			translate: -50% -50%;
			left: 50%;
			top: 50%;
			position: absolute;
			animation: dirigeable 10s cubic-bezier(.45, .05, .55, .95) forwards;
			width: 60%;
		}

		// Fondu au noir
		animation: fade-in 500ms ease-out 9.5s 1 reverse forwards;
	}


	// Epilogue
	// Retour au présent, fin du jeu
	#retour-present{
		// Fondu au noir
		animation: fade-in 1s ease-in 1 normal forwards;

		.present{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			aspect-ratio: 16/9;
			@include m.Ending();
			animation: ending 2.5s ease-out 5s forwards;

			.tableau{
				.wink{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
					opacity: 0;
					animation: fade-in 200ms ease-in 6s 1 normal forwards;
				}
			}
		}
		
		.fin{
			position: relative;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: 18% 27%;
			text-align: center;

			.epilogue{
				margin: 1em 0;
				font-size: 1.33em;
				line-height: 1.5;
				text-align: left;
				opacity: 0;
				animation: fade-in 500ms ease-in 7.5s 1 normal forwards;
			}

			.button{
				position: unset;
				width: fit-content;
				translate: unset;
				display: inline-block;
				margin-top: 0.5em;
				opacity: 0;
				animation-delay: 9s;
			}
		}
	}
}